@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-BlackItalic.eot');
    src: url('/fonts/Degular-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-BlackItalic.woff2') format('woff2'),
        url('/fonts/Degular-BlackItalic.woff') format('woff'),
        url('/fonts/Degular-BlackItalic.ttf') format('truetype'),
        url('/fonts/Degular-BlackItalic.svg#Degular-BlackItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Black.eot');
    src: url('/fonts/Degular-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-Black.woff2') format('woff2'),
        url('/fonts/Degular-Black.woff') format('woff'),
        url('/fonts/Degular-Black.ttf') format('truetype'),
        url('/fonts/Degular-Black.svg#Degular-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Bold.eot');
    src: url('/fonts/Degular-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-Bold.woff2') format('woff2'),
        url('/fonts/Degular-Bold.woff') format('woff'),
        url('/fonts/Degular-Bold.ttf') format('truetype'),
        url('/fonts/Degular-Bold.svg#Degular-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Semibold.eot');
    src: url('/fonts/Degular-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-Semibold.woff2') format('woff2'),
        url('/fonts/Degular-Semibold.woff') format('woff'),
        url('/fonts/Degular-Semibold.ttf') format('truetype'),
        url('/fonts/Degular-Semibold.svg#Degular-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-BlackItalic.eot');
    src: url('/fonts/NeueHaasDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-BlackItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-BlackItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-BlackItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-BlackItalic.svg#NeueHaasDisplay-BlackItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-BoldItalic.eot');
    src: url('/fonts/Degular-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-BoldItalic.woff2') format('woff2'),
        url('/fonts/Degular-BoldItalic.woff') format('woff'),
        url('/fonts/Degular-BoldItalic.ttf') format('truetype'),
        url('/fonts/Degular-BoldItalic.svg#Degular-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-BoldItalic.eot');
    src: url('/fonts/NeueHaasDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-BoldItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-BoldItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-BoldItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-BoldItalic.svg#NeueHaasDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Italic.eot');
    src: url('/fonts/Degular-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-Italic.woff2') format('woff2'),
        url('/fonts/Degular-Italic.woff') format('woff'),
        url('/fonts/Degular-Italic.ttf') format('truetype'),
        url('/fonts/Degular-Italic.svg#Degular-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Light.eot');
    src: url('/fonts/Degular-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-Light.woff2') format('woff2'),
        url('/fonts/Degular-Light.woff') format('woff'),
        url('/fonts/Degular-Light.ttf') format('truetype'),
        url('/fonts/Degular-Light.svg#Degular-Light') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-Black.eot');
    src: url('/fonts/NeueHaasDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Black.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Black.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Black.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Black.svg#NeueHaasDisplay-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-LightItalic.eot');
    src: url('/fonts/Degular-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-LightItalic.woff2') format('woff2'),
        url('/fonts/Degular-LightItalic.woff') format('woff'),
        url('/fonts/Degular-LightItalic.ttf') format('truetype'),
        url('/fonts/Degular-LightItalic.svg#Degular-LightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Thin.eot');
    src: url('/fonts/Degular-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-Thin.woff2') format('woff2'),
        url('/fonts/Degular-Thin.woff') format('woff'),
        url('/fonts/Degular-Thin.ttf') format('truetype'),
        url('/fonts/Degular-Thin.svg#Degular-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-SemiboldItalic.eot');
    src: url('/fonts/Degular-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/Degular-SemiboldItalic.woff') format('woff'),
        url('/fonts/Degular-SemiboldItalic.ttf') format('truetype'),
        url('/fonts/Degular-SemiboldItalic.svg#Degular-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Medium.eot');
    src: url('/fonts/Degular-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-Medium.woff2') format('woff2'),
        url('/fonts/Degular-Medium.woff') format('woff'),
        url('/fonts/Degular-Medium.ttf') format('truetype'),
        url('/fonts/Degular-Medium.svg#Degular-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-Bold.eot');
    src: url('/fonts/NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Bold.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Bold.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Bold.svg#NeueHaasDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-MediumItalic.eot');
    src: url('/fonts/Degular-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-MediumItalic.woff2') format('woff2'),
        url('/fonts/Degular-MediumItalic.woff') format('woff'),
        url('/fonts/Degular-MediumItalic.ttf') format('truetype'),
        url('/fonts/Degular-MediumItalic.svg#Degular-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-Light.eot');
    src: url('/fonts/NeueHaasDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Light.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Light.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Light.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Light.svg#NeueHaasDisplay-Light') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Regular.eot');
    src: url('/fonts/Degular-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-Regular.woff2') format('woff2'),
        url('/fonts/Degular-Regular.woff') format('woff'),
        url('/fonts/Degular-Regular.ttf') format('truetype'),
        url('/fonts/Degular-Regular.svg#Degular-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-LightItalic.eot');
    src: url('/fonts/NeueHaasDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-LightItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-LightItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-LightItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-LightItalic.svg#NeueHaasDisplay-LightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-ThinItalic.eot');
    src: url('/fonts/Degular-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Degular-ThinItalic.woff2') format('woff2'),
        url('/fonts/Degular-ThinItalic.woff') format('woff'),
        url('/fonts/Degular-ThinItalic.ttf') format('truetype'),
        url('/fonts/Degular-ThinItalic.svg#Degular-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-Thin.eot');
    src: url('/fonts/NeueHaasDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Thin.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Thin.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Thin.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Thin.svg#NeueHaasDisplay-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-XThin.eot');
    src: url('/fonts/NeueHaasDisplay-XThin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XThin.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XThin.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XThin.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XThin.svg#NeueHaasDisplay-XThin') format('svg');
    font-weight: 50;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-MediumItalic.eot');
    src: url('/fonts/NeueHaasDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-MediumItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-MediumItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-MediumItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-MediumItalic.svg#NeueHaasDisplay-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-XXThin.eot');
    src: url('/fonts/NeueHaasDisplay-XXThin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XXThin.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XXThin.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XXThin.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XXThin.svg#NeueHaasDisplay-XXThin') format('svg');
    font-weight: 25;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-XXThinItalic.eot');
    src: url('/fonts/NeueHaasDisplay-XXThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XXThinItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XXThinItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XXThinItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XXThinItalic.svg#NeueHaasDisplay-XXThinItalic') format('svg');
    font-weight: 25;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-RomanItalic.eot');
    src: url('/fonts/NeueHaasDisplay-RomanItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-RomanItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-RomanItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-RomanItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-RomanItalic.svg#NeueHaasDisplay-RomanItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-Roman.eot');
    src: url('/fonts/NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Roman.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Roman.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Roman.svg#NeueHaasDisplay-Roman') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-ThinItalic.eot');
    src: url('/fonts/NeueHaasDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-ThinItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-ThinItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-ThinItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-ThinItalic.svg#NeueHaasDisplay-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-Mediu.eot');
    src: url('/fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Mediu.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Mediu.svg#NeueHaasDisplay-Mediu') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/NeueHaasDisplay-XThinItalic.eot');
    src: url('/fonts/NeueHaasDisplay-XThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XThinItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XThinItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XThinItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XThinItalic.svg#NeueHaasDisplay-XThinItalic') format('svg');
    font-weight: 50;
    font-style: italic;
    font-display: swap;
}
