@import "./fonts.module.scss";

$color: #fe2458;
$padding: 40px;

*,
*::before,
*::after {
  // user-select: none;
  box-sizing: border-box;
  // cursor: none; // si cursor custom
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: $color;
}

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  @media screen and (max-width: 1000px) {
    font-size: 22px;
  }
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  // user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100%;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.layout {
  position: absolute;
  z-index: 2;
  color: white !important;
  font-family: "Degular";
  font-size: 1rem;
}

.socials {
  display: flex;
  bottom: $padding;
  right: $padding;
  .socialHide {
    display: flex;
    color: white !important;
    &::before {
      content: "|";
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .social {
    padding-top: 21px;
    height: 21px;
    max-height: 21px;
    color: white !important;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1000px) {
      padding-top: 27px;
      height: 27px;
      max-height: 27px;
    }
  }
  .twitter {
    &::after {
      content: "Twitter";
    }
  }
  .insta {
    &::after {
      content: "Instagram";
    }
  }
  .linkedin {
    &::after {
      content: "LinkedIn";
    }
  }
  .mail {
    &::after {
      content: "Mail";
    }
  }
  .fs {
    &::before {
      content: "";
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
.mailHide {
  cursor: pointer;
  bottom: $padding;
  left: $padding;
  overflow: hidden;
  height: 21px;
  padding-top: 21px;
  @media screen and (max-width: 1000px) {
    height: 27px;
    padding-top: 27px;
  }
}
.WUCHide {
  top: $padding;
  right: $padding;
  overflow: hidden;
  height: 21px;
  padding-top: 21px;
  @media screen and (max-width: 1000px) {
    padding-top: 27px;
    height: 27px;
  }
}
.logoHide {
  top: $padding;
  left: $padding;
  overflow: hidden;
  height: 21px;
  width: 160px;
  padding-top: 21px;
  @media screen and (max-width: 1000px) {
    padding-top: 27px;
    height: 27px;
  }
  .logo {
    opacity: 1 !important;
  }
}
.socialHide {
  overflow: hidden;
}
.socialHideSeparatorCont {
  position: relative;
  .socialHideSeparator {
    left: 5px;
    position: absolute;
    height: 21px;
    width: 11px;
    background-color: black;
    @media screen and (max-width: 1000px) {
      height: 27px;
    }
  }
}
.divCont {
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
.socialHide {
  &:hover {
    .divCont {
      transform: translateY(-42px) !important;
      background-color: red;
      @media screen and (max-width: 800px) {
        transform: translateY(-54px) !important;
      }
    }
  }
}
.mobileMail {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1000px) {
  .socialHide {
    &::before {
      display: none;
    }
  }
  .socialHideSeparator {
    display: none;
  }
  .socials {
    flex-direction: column;
  }
  .WUC {
    display: none;
  }
  .email {
    display: none;
  }
  .mobileMail {
    display: block;
  }
}

#ctcCont {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
  .ctc {
    color: white !important;
    font-family: "Degular";
    font-size: 1rem;
    padding: $padding;
    position: relative;
    z-index: 0;
    width: 400px;
    max-width: 90vw;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      z-index: -2;
      left: -100%;
      top: -200%;
      width: 300%;
      height: 500%;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-image: linear-gradient(#ffffff, #000000),
        linear-gradient(#ffffff, #000000), linear-gradient(#ffffff, #000000),
        linear-gradient(#ffffff, #000000);
      animation: rotate 12s linear infinite;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background: rgba($color: #000000, $alpha: 1);
    }
    > div {
      display: flex;
      flex-wrap: wrap;
    }
    .hideNotif {
      overflow: hidden;
      width: fit-content;
    }
    .hideText {
      transform: translateY(10px);
      width: fit-content;
    }
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
